<div class="row">

    <!-- Blog Post Content Column -->
    <div class="col-lg-8">

        <!-- Blog Post -->

        <!-- Title -->
        <h1 style="font-size: 40.5px;">  
         <%= @articles.title %>
        </h1>

        <!-- Author -->
        <p class="lead">
          <%= @articles.user.username %>
        </p>

        <hr>

        <!-- Date/Time -->
        <p><span class="glyphicon glyphicon-time"></span> Was Posted On: 
    
        </p>
        <hr>

        <!-- Preview Image -->
        

        <!-- Post Content -->
          <%= @articles.body %>
       
        <hr>

        <!-- Blog Comments -->
<%= render @articles.comment %>
        <!-- Comments Form -->
       
        <%= render 'comments/form' %>  
        <div class="well">
          




        </div>

        <hr>

        <!-- Posted Comments -->

        <!-- Comment -->



    </div>

    <!-- Blog Sidebar Widgets Column -->
    <div class="col-md-4">

        <!-- Blog Search Well -->
        

        <!-- Blog Categories Well -->
        

        <!-- Side Widget Well -->
        
    </div>

</div>


<%= link_to 'Edit', edit_article_path(@articles) %> |
<%= link_to 'Back', articles_path %>
